<table class="table table-striped table-hover table-bordered">
  <% @accounts.each do |account| %>
    <tr>
      <td>
        <%= link_to account.name, account_path(account) %>
      </td>
      <td class="span2">
        <div class="progress progress-<%= account.positive? ? 'success' : 'danger' %>">
          <div class="bar" style="width: <%= number_to_percentage (account.balance_dollars / (account.positive? ? @biggestPositive : @biggestNegative) * 100.0) %>"></div>
        </div>
      </td>
      <td>
        <%= raw account.balance_html %>
      </td>
    </tr>
  <% end %>
</table>