<div id="piechart-placeholder"></div>

<script>
  var data = [
    <% count = 0; other = Money.new(0) %>
    <% @grapher.categories.each do |id, cat| %>
      <% count = count + 1 %>
      <% if count <= 5 %>
        { label: "<%= cat.tag.name %>",  data: <%= cat.amount %>, color: "<%= @colours[count-1] %>"},
      <% else %>
        <% other = other + cat.amount %>
      <% end %>
    <% end %>
    { label: "Other",  data: <%= other %>, color: "#d6487e"},
  ];

</script>