<div class="control-group">
  <div class="controls">
    <%= text_field_tag :name, nil, {placeholder: 'Tag name'} %>
    <%= text_field_tag :label_class, nil, {placeholder: 'Tag label class'} %>
  </div>
</div>