<tr>
  <td>
    <%= raw tag.label_html %>
  </td>
  <td><%= tag.label_class %></td>
  <td>
    <%= link_to raw('<i class="icon-edit icon-white"></i> Edit'), edit_tag_path(tag), {class: "btn btn-small btn-warning"} %>
    <%= link_to raw('<i class="icon-trash icon-white"></i> Delete'), tag, class: "btn btn-small btn-danger", method: :delete, data: { confirm: t(:confirm_tag_delete, {id: tag.id, name: tag.name, class: tag.label_class})} %></td>
</tr>