<% provide(:title, @tag.name) %> 
<% provide(:titleSmall, "Edit") %>

<div class="row-fluid">
  <%= form_for(@tag, html: {class: "form-horizontal"}) do |f| %>

    <%=render 'fields', f: f %>

    <div class="form-actions">
      <%= button_tag(type: :submit, class: "btn btn-small btn-success") do %>
        <i class='icon-ok'></i> Save changes
      <% end %>
      <%= link_to raw("<i class='icon-remove'></i> Cancel"), tags_path, class: "btn btn-small" %>
    </div>
  <% end %>
</div>

<% provide :leftNavButtonBody, 'Tags' %>
<% provide :leftNavButtonUrl, tags_path %>