<% provide(:title, @tag.name) %>

<div class="row">
  <div class="span4 offset4">
    <dl class="dl-horizontal">
      <%= dtdd 'Name', @tag.name %>
      <%= dtdd 'Class', @tag.label_class %>
      
      <%= dtdd '', link_to(raw("<i class='icon-edit'></i> Edit"), edit_tag_path(@tag), class: "btn btn-warning") %>
    </dl>
  </div>
</div>

<% provide :leftNavButtonBody, 'Tags' %>
<% provide :leftNavButtonUrl, tags_path %>