#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.nwkm_description_element {
  margin-bottom: 10px;
}

.footer {
  margin-bottom: 10px;
}

.nwkm_actions {
  margin-bottom: 10px;
}

#nwkm-tag-tree .tree-item i {
  color: #4D6878;
  background-color: none;
  border: none;
}

#piechart-placeholder {
  margin-bottom: 20px;
}