<% provide(:title, 'New Transaction') %>

<div class="row-fluid">
    <%= form_for(@transaction, html: {class: "form-horizontal"}) do |f| %>

      <%=render 'fields', f: f %>

      <div class="form-actions">
        <%= button_tag(type: :submit, class: "btn btn-small btn-success") do %>
          <i class='icon-ok'></i> Create Transaction
        <% end %>
        <%= link_to raw("<i class='icon-remove'></i> Cancel"), transactions_path, class: "btn btn-small" %>
      </div>
    <% end %>
</div>

<% provide :leftNavButtonBody, 'Transactions' %>
<% provide :leftNavButtonUrl, transactions_path %>