<% provide(:title, @account.name) %>
<% provide(:titleSmall, 'View') %>

<div class="row-fluid">
  <dl class="dl-horizontal">
    <%= dtdd 'Name', @account.name %>
    <%= dtdd 'Balance', raw(plus_minus_html(@account.balance_dollars)) + " " + number_to_currency(@account.balance_dollars.abs) %>
    <%= dtdd '', link_to(raw("<i class='icon-edit'></i> Edit"), edit_account_path(@account), class: "btn btn-small btn-warning") %>
  </dl>
</div>

<% provide :leftNavButtonBody, 'Home' %>
<% provide :leftNavButtonUrl, root_path %>